@import '../../styles/variable';

.reserve-form {
    position: fixed;
    width: 100vw;
    /* height: 100vh; */
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.restaurant-detail {
    background-color: $common-grey;
    padding: 20px 0px;
    position: relative;
    // box-sizing: border-box;

    // .reserve-form {
    //     position: fixed;
    //     // margin: auto;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 20;
    //     background-color: rgba(0,0,0,0.6);
    //     display: flex;
    //     align-items: center; 
    //     justify-content: center
    // }
    .container {
        // width: 70%;
        // margin: 0 auto;
        // margin-top: 20px;
        .content {
            .intro {
                padding: 20px 20px;
                border-radius: 7px;
                background-color: #fff;
                // .restaurant-image {
                //     .main-image {
                //         img {
                //             width: 100%;
                //             // height: 100%;
                //             height: auto;
                //             border-radius: 7px;
                //         }
                //     }
                //     .other-image {
                //         display: flex;
                //         flex-direction: column;
                //         gap: 20px; /* Adjust the desired distance between images */
                //         // .other-image-item {
                //         //     flex: 1;
                //         //     // height: 200px;
                //         //     object-fit: cover;
                //         // }
                //         img {
                //             flex: 1;
                //             // height: 200px;
                //             object-fit: cover;
                //             border-radius: 7px;
                //         }
                //     }
                // }
                .restaurant-image {
                    display: flex;
                    align-items: stretch;
                    .main-image {
                        flex: 1;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 7px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .other-image {
                        display: flex;
                        flex-direction: column;
                        
                        .other-image-item {
                            flex: 1;
                            margin-bottom: 10px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 7px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            &:last-child {
                                position: relative;
                                text-align: center;
                                margin-bottom: 0px;

                                .photo-overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100v;
                                    height: 100%;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    border-radius: 7px;

                                    // width: 100vw;
                                    // height: 100vh;
                                    box-sizing: border-box;
                                }

                                .text-centered {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-weight: 600;
                                    font-size: $base-size;
                                    color: #fff;
                                    z-index: 5;
                                }
                            }
                        }
                    }
                }

                .intro-text {
                    h4 {
                        font-weight: $title-weight;
                    }
                    .location {
                        .icon-location {
                            margin-right: 10px;
                        }
                        .line {
                            margin-top: 10px;
                            width: 100%;
                            height: 1.5px;
                            background-color: $common-grey;
                            margin-bottom: 10px;
                        }
                    }
                    .tag {
                        display: flex;
                        .tag-item {
                            // list-style: none;
                            border-style: solid;
                            border-color: $common-grey;
                            border-width: 2px;
                            padding: 5px 15px;
                            border-radius: 20px;
                            
                            margin: 10px 10px;
                            &:first-child{
                                margin-right: 10px;
                            }
                            &:first-left{
                                margin-right: 10px;
                            }
                            &:hover {
                                border-color: $common-red;
                            }

                            a {
                               text-decoration: none;
                               color: #000;
                            }
                        }
                    }
                }
            }
            .description {
                padding: 45px 20px;
                border-radius: 7px;
                background-color: #fff;
                margin: 25px 0px;
            }
            .menu {
                padding: 70px;
                border-radius: 7px;
                background-color: #fff;
            }
        }
        .extra-info {
            .reservation {
                padding: 10px 20px;
                border-radius: 7px;
                background-color: #fff;

                h4 {
                    text-align: center;
                }
                .reservation {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn-reserve {
                        background-color: $common-red;
                        color: #fff;
                        padding: 10px 0px;
                        width: 100%;
                        align-self: center;
                        border-radius: 7px;
                        font-weight: $bold;
                        font-size: 16px;
                    }
                }
            }
            .adding-info-business-hour {
                padding: 10px 20px;
                border-radius: 7px;
                background-color: #fff;
                margin: 20px 0px;
                .business-hour {
                    ul {
                        li {
                            .date-of-week {
                                font-weight: $bold;
                            }
                        }
                    }
                }
                .adding-info {
                    .adding-info-item {
                        color: #d2d2d2;
                        margin-bottom: 10px;
                    }
                    .active {
                        color: #000;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}