.product-item {
    a {
        text-decoration: none;
        color: black;
    }

    width: 400px;
    // height: 450px;
    padding: 15px;

    .product-img {
        a {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    
    .product-item-info {
        margin-top: 10px;
        .product-title {
            font-size: 18px;
            font-weight: 700;
        }
        
        .tag-location {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .product-type-price {
            display: flex;
            justify-content: space-between;

            .product-price {
                color: gray;
                .product-price-content {
                    color: #000;
                }
            }
        }
    }
}