@import '../../styles/variable';

.restaurant-detail {
    background-color: #e1e0e0;
    padding: 20px 0px;
    .container {
        // width: 70%;
        // margin: 0 auto;
        .content {
            .intro {
                padding: 20px 20px;
                border-radius: 7px;
                background-color: #fff;
                // .restaurant-image {
                //     .main-image {
                //         img {
                //             width: 100%;
                //             // height: 100%;
                //             height: auto;
                //             border-radius: 7px;
                //         }
                //     }
                //     .other-image {
                //         display: flex;
                //         flex-direction: column;
                //         gap: 20px; /* Adjust the desired distance between images */
                //         // .other-image-item {
                //         //     flex: 1;
                //         //     // height: 200px;
                //         //     object-fit: cover;
                //         // }
                //         img {
                //             flex: 1;
                //             // height: 200px;
                //             object-fit: cover;
                //             border-radius: 7px;
                //         }
                //     }
                // }
                .restaurant-image {
                    display: flex;
                    align-items: stretch;
                    .main-image {
                        flex: 1;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 7px;
                        }
                    }

                    .other-image {
                        display: flex;
                        flex-direction: column;
                        
                        .other-image-item {
                            flex: 1;
                            margin-bottom: 10px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 7px;
                            }

                            &:last-child {
                                position: relative;
                                text-align: center;
                                margin-bottom: 0px;

                                .photo-overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    border-radius: 7px;
                                }

                                .text-centered {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-weight: 600;
                                    font-size: $base-size;
                                    color: #fff;
                                    z-index: 5;
                                }
                            }
                        }
                    }
                }

                .intro-text {
                    h4 {
                        font-weight: $title-weight;
                    }
                    .location {
                        .icon-location {
                            margin-right: 10px;
                        }
                        .line {
                            margin-top: 10px;
                            width: 100%;
                            height: 1.5px;
                            background-color: $common-light-red;
                            margin-bottom: 10px;
                        }
                    }
                    .tag {
                        ul {
                            display: flex;
                            padding: 0px;
                            li {
                                list-style: none;
                                margin: 10px 10px;
                                &:first-child{
                                    margin-right: 10px;
                                }
                                &:first-left{
                                    margin-right: 10px;
                                }

                                .tag-item {
                                    border-style: solid;
                                    border-color: $common-light-red;
                                    border-width: 2px;
                                    padding: 5px 15px;
                                    border-radius: 20px;
                                    // background-color: $common-red;
                                    text-decoration: none;
                                    color: #000;

                                    &:hover {
                                        background-color: $common-red;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .description {
                padding: 45px 20px;
                border-radius: 7px;
                background-color: #fff;
                margin: 25px 0px;
            }
            .menu {
                padding: 70px;
                border-radius: 7px;
                background-color: #fff;
            }
        }
        .extra-info {
            .reservation {
                padding: 10px 20px;
                border-radius: 7px;
                background-color: #fff;

                h4 {
                    text-align: center;
                }
                .reservation {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn-reserve {
                        background-color: $common-red;
                        color: #fff;
                        padding: 5px 0px;
                        width: 100%;
                        align-self: center;
                    }
                }
            }
            .adding-info-business-hour {
                padding: 10px 10px;
                border-radius: 7px;
                background-color: #fff;
                margin: 20px 0px;
                .business-hour {

                }
                .adding-info {
                    .adding-info-item {
                        color: #d2d2d2;

                        &:active {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}