@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$common-green: #C0EDA6;
$common-red: #FD5D5D;
$common-light-red: #FF8080;
$common-yellow: #FFF7BC;
$common-grey: #e1e0e0;
$smooth: all .3s ease-in;

$base-size: 16px;
$title-size: 24px;
$title-weight: 700;
$bold: 600;

$fontmain: 'Open Sans', sans-serif;