.sweet-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .loading {
        display: block;
        margin: 0 auto;
        border-color: red;
    }
}