@import '../../../styles/variable';

.select-input {
    border-radius: 7px;
    border-color: $common-grey;
    border-width: 1.5px;

    padding: 7px;
    width: 100%;

    &:focus {
        outline: none;
    }
}